
body{
    background-color: #000;
    font-family: "Comme", sans-serif;;
    font-weight: 00;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }
  
  header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar .logo {
    color: #fff;
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: none;
  }
  
  .navbar .logo span {
    color: #C06B3E;
  }
  
  .navbar .menu-links {
    display: flex;
    list-style: none;
    gap: 35px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
  }
  
  .navbar a:hover {
    color: #C06B3E;
  }
  
  .footer-copyRight {
      color: #ffffff;
  }
  
  .location-text {
      color: #ffffff;
  }
  
  .slogan-text {
      font-size: xx-large;
      color: #ffffff;
  }
  
  table {
      width: 100%;
      border-collapse: collapse;
  }
  
  th,
  td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }
  
  th {
      background-color: #f2f2f2;
  }
  
  input[type="text"] {
      width: 80px;
  }
  
  button {
      padding: 5px 10px;
  }

  /* footer */
.footer {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    font-family: "Comme", sans-serif;
  }
  
  .footer-icons a, .footer-links a {
    color: #fff; 
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-icons a:hover, .footer-links a:hover {
    color: #ff9900; 
  }
  
  .footer-copyRight {
    color:#ffffff;
  }
  
  .location-text{
    color:#ffffff;
  }
  
  .slogan-text{
    font-size: xx-large;
    color:#ffffff;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f0f0f000;
    border-radius: 20px;
  }
  
  .part1 {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  
  .part2 {
    flex: 2.5;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
  
  }
  
  .icon{
    border-radius: 20px;
  }
  